ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
 
  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }